body{
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto';
    line-height: 1.3;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}


.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    justify-content: space-between;

}

nav{
    flex: 1;
    text-align: right;
}

.logo{
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    margin-right: 1rem;

}

.brand_name{
    text-decoration: none;
    color: white;
    font-size: 200%;
    cursor: pointer;
    text-align: center;
    /* margin-right: 3.125rem; */
    transition: all 0.2s ease-out;
}

.menu_icon{
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    padding: 0.5rem;
    background-color: rgba(20, 20, 20, 0.7);
    border-radius:  1.25rem;
    cursor: pointer;
    margin-left: 3.125rem;
    display: none;
    z-index: 50;
}


.brand{
    display: flex;
    align-items: center;
    font-family: 'Rubik Glitch', cursive;
    text-decoration: none;
}

.brand_name:hover{
    color: rgb(148, 0, 0);
    transition: all 0.2s ease-out;
}

nav ul li{
    list-style: none;
    float: right;
    margin-left: 1.875rem;

}
.nav_item{
    color: #fff;
    text-decoration: none;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius:  1.25rem;
    padding: 12px 35px;
    letter-spacing:  .125rem;
    transition: all 0.2s ease-out;

}
.nav_item:hover{
    color: rgb(148, 0, 0);
    transition: all 0.2s ease-out;
}

@media (max-width: 40em){
    .nav_item{
     display: none; 
    }

    .menu_icon{
        display: flex;
    }
    .brand{
        position: fixed;
    }
}

@media (max-width: 50em){
    .nav_item{
        padding: 8px 25px;
    }

}

@media (max-width: 26.25em){

    .menu_icon{
        margin-left: 1rem;
        position: fixed;
        right: 20px;
    }
    .brand_name{
        margin-left: 0;
    }
    .brand{
        position: fixed;
    }
}

.slide_window{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 60%;
    right: -60%;
    top: 0px;
    z-index: 1;
}
.slide_window_mask{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    right: -100%; 
    width: 100%;
    height: 100%;
    z-index: 1;

}

.slide_window.active{
    right: 0;
    transition: all ease 0.2s;
    
}
.slide_window_mask.active{
    right: 0;

}

.slide_nav_container{
    top: 60px;
    height: 100%;
    width: 100%;
    display: flex;

}

.slide_window.active ul{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    justify-content: space-evenly;


}
.slide_window.active ul li{
    display: flex;
    height: 3rem;
    font-size: large;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;

}

.slide_nav_item{
    text-decoration: none;
    color: rgb(148, 0, 0);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.slide_nav_item:hover{
    color: rgb(100, 2, 2);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
