:root{
--header-hover-color: rgb(148,0,0);
--header-background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
--brand-name-color: #fff;
--header-nav-item-text-color: #fff;
--mobile-nav-icon-color: #fff;
--mobile-nav-icon-background-color: rgba(20, 20, 20, 0.7);
--hover-color: rgb(148, 0, 0);
--mobile-nav-background-color:  rgba(255, 255, 255, 0.9);
--nav-item-button-color:  rgba(20, 20, 20, 0.9);
--mobile-nav-mask-color: rgba(0, 0, 0, 0.5);
--mobile-nav-hover-color: rgb(100, 2, 2);
--mobile-nav-hover-background-color: rgba(0, 0, 0, 0.1);
}
.navbar{
    width: 100%;
    height: 3.75rem;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    background-image: var(--header-background);
    justify-content: space-between;
}

nav{
    flex: 1;
    text-align: right;
}

.logo{
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    margin-right: 1rem;
}

.brand_name{
    text-decoration: none;
    color: var(--brand-name-color);
    font-size: 200%;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
}

.menu_icon{
    width: 1.25rem;
    height: 1.25rem;
    color: var(--mobile-nav-icon-color);
    padding: 0.5rem;
    background-color: var(--mobile-nav-icon-background-color);
    border-radius:  1.25rem;
    cursor: pointer;
    margin-left: 3.125rem;
    display: none;
    z-index: 50;
}


.brand{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.brand_name:hover{
    color: var(--hover-color);
    transition: all 0.2s ease-out;
}

nav ul li{
    list-style: none;
    float: right;
    margin-left: 1.875rem;

}
.nav_item{
    color: var(--header-nav-item-text-color);
    text-decoration: none;
    background-color: var(--nav-item-button-color);
    border-radius:  1.25rem;
    padding: 0.75rem 2.1875rem;
    letter-spacing:  .125rem;
    transition: all 0.2s ease-out;

}
.nav_item:hover{
    color: var(--header-hover-color);
    transition: all 0.2s ease-out;
}

.slide_window{
    position: fixed;
    background-color: var(--mobile-nav-background-color);
    height: 100%;
    width: 60%;
    right: -60%;
    top: 0;
    z-index: 1;
}
.slide_window_mask{
    background-color: var(--mobile-nav-mask-color);
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100%;
    z-index: 1;

}

.slide_window.active{
    right: 0;
    transition: all ease 0.2s;
    
}
.slide_window_mask.active{
    right: 0;

}

.slide_nav_container{
    top: 60px;
    height: 100%;
    width: 100%;
    display: flex;

}

.slide_window.active ul{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    justify-content: space-evenly;


}
.slide_window.active ul li{
    display: flex;
    height: 3rem;
    font-size: large;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;

}
.slide_nav_item{
    text-decoration: none;
    color: var(--header-hover-color);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.slide_nav_item:hover{
    color: var(--mobile-nav-hover-color);
    background-color: var(--mobile-nav-hover-background-color);
    border-radius: 0.3125em;
}

/* Media queries */
@media (max-width: 40em){
    .nav_item{
     display: none; 
    }

    .menu_icon{
        display: flex;
    }
    .brand{
        position: fixed;
    }
}

@media (max-width: 50em){
    .nav_item{
        padding: 0.5rem 1.5625rem;
    }

}

@media (max-width: 26.25em){

    .menu_icon{
        margin-left: 1rem;
        position: fixed;
        right: 1.25rem;
    }
    .brand_name{
        margin-left: 0;
    }
    .brand{
        position: fixed;
    }
}
