body{
    display: flex;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.activity_page{
    position: absolute;
    width: 100%;
    height: 100%;
}

.window_for_activity{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.activity_container{
    position: relative;
    max-width: 25rem;
    width: 100%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.activity_container .form{
    max-width: 25rem;
    transform: translate(0, -5%);
    width: 100%;
    padding: 1.875em;
    background: rgba(0,0,0,0.7);
}


.activity_title{
    font-size: 1.4375em;
    font-weight: 600;
}

.input_field{
    position: relative;
    margin-top: 1.5625em;
    width: 100%;
    height: 2.5em;
}

.input_field input{
    height: 100%;
    width: 100%;
    padding: 0 1.875em;
    border-bottom: 2px solid #ccc;
    font-size: 0.9375em;
}

.input_field input:is(:focus, :valid){
    border-bottom-color: #b1b1b1;
}


.input_field i.showHidePw{
    cursor: pointer;
    padding: 0.3125em;
}

.input_field i{
    position: absolute;
    top: 30%;
    color: rgb(66, 66, 66);
}

.input_field i.icon{
    left: 0;
}

.input_field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 5px;
    align-items: center;
}


.form .checkbox_text{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    align-items: center;

}
.checkbox_text .checkbox_content{
    display: flex;
    align-items: center;
}

.checkbox_content input{
    margin: 0px 10px 2px 5px;
    accent-color: #404040
}
.form .text{
    color: #333;
}

.form a.text{
    color: #4070f4;
}

.form a{
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 30px;
}

.form .button input{
    border: none;
    background-color: #4070f4;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button input:hover{
    background-color: #265df2;
}

.activity_container .login_signup{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.or_line{
    height: 1px;
    width: 100%;
    background-color: #d4d4d4;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
}

.or_line::before{
    content: 'Or';
    position: absolute;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #8b8b8b;
    align-items: center;
    right: 45%;
    font-weight: 400;
    top: 63%;
    padding: 0 10px;

}






@media  screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
}