:root{

    --input-field-border-color: #ccc;
    --input-field-border-hover-color: #ac4c4c;
    --check-box-color:  #a53434;
    --form-text-color: rgb(243, 243, 243);
    --sign-up-now-text-color: #4070f4;
    --button-hover-color: #a53434;
}

body{
    color: white;
}


.page {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.page_container{
    height: calc(100% - 60px);
    display: flex;
}

.window_for_login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login_container{
    max-width: 25rem;
    transform: translate(0, -10%);
    width: 100%;
    background: var(--login-form-background);
    overflow: hidden;
    box-shadow: 0 0.3125rem 0.625rem var(--login-form-shadow-color);
}


.login_container .form{
    width: 100%;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
}


.login_title{
    font-size: var(--form-title-size);
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;

}

 .input_field{
    position: relative;
    margin-top: 1.5625em;
    width: 100%;
    height: 2.5em;
}

.input_field input{
    height: 100%;
    width: 100%;
    padding: 0 1.875em;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--input-field-border-color);
    font-size: 0.9375em;
    transition: all 0.2s ease;
    background-color: rgba(0,0,0,0.0);
    color: white;

}

.input_field input:is(:focus, :valid){
    border-bottom-color:var(--input-field-border-hover-color);
}


.input_field i{
    position: absolute;
    top: 30%;
    margin-left: 0.3125rem;
    color: white;
}

 .input_field i.icon{
    left: 0;
}
        
.input_field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 0,3125rem;
    align-items: center;
}
        
      
.form .checkbox_text{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1.25rem;
    align-items: center;

}
.checkbox_text .checkbox_content{
    display: flex;
    align-items: center;
}

.checkbox_content input{
    margin: 0 0.625rem 0.125rem 0.3125rem;
    accent-color: var(--check-box-color);
}
.form .text{
    color: var(--form-text-color) ;
    font-size: 0.8125rem;
}

.form a.text{
    color: var(--sign-up-now-text-color);
    padding-left: 0.3125rem;
    font-size: .8125rem;
}


.form a{
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 1.875rem;
}

.form .button input{
    border: none;
    background-color: var(--input-field-border-hover-color);
    letter-spacing: 1px;
    color: white;
    font-size: 1em;
    height: 2.8125rem;
    border-radius: 0.375rem; 
    cursor: pointer;    
    transition: all 0.2s ease;
}

.button input:hover{
    background-color: var(--button-hover-color);
}

.login_container .login_signup{
    margin-top: 1.25rem;
    font-size: 0.8125rem;
    text-align: center;
}

.or_line{
    height: 1px;
    width: 100%;
    background-color:  #d4d4d4;
    margin: 1.875rem 0px;
    align-items: center;
    justify-content: center;
}


.facebook_login{
    background-color: #4267b2;
    position: relative;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2.1875rem;
    height: 40px;
    cursor: pointer;
}

.facebook_login a{
    color: white;
    text-decoration: none;
    
}

.facebook_text{
    font-size: 0.9375rem;
}

a.facebook_button .facebook{
    position: absolute;
    left: 30px;
    transform: translate(0, -2px);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 21px;
}

.google_login{
    display: flex;
    /* border-radius: 5px;
    background-color: white;
    cursor: pointer; */

    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 20px; */
    height: 3.125rem;

    text-decoration: none;
    transition: all 0.2ms ease;

}

 #google_login_medium{
    position: fixed;
    top: 2000px;
    left: -300px;
}
#google_login_xs{
    position: fixed;
    top: 2000px;
    left: -300px;
} 
#google_login_small{
    position: fixed;
    top: 2000px;
    left: -300px;
} 




@media  screen and (max-width: 26.25rem){
    #google_login_medium{
        position: relative;
        top: 0;
        left: 0;
    }
    #google_login{
        position: fixed;
        top: 2000px;
        left: -400px;
    }
}
@media  screen and (max-width: 25rem){
    .form{
        padding: 15px 10px;
    }
    a.facebook_button .facebook{
        left: 10px;
    }
    #google_login_medium{
        position: fixed;
        top: 2000px;
        left: -400px;
    }
    #google_login_small{
        position: relative;
        top: 0;
        left: 0;
    }
}

@media  screen and (max-width: 21.875rem){

    #google_login_xs{
        position: relative;
        top: 0;
        left: 0;
    }
    #google_login_medium{
        position: fixed;
        top: 2000px;
        left: -400px;
    }
    #google_login_small{
        position: fixed;
        top: 2000px;
        left: -400px;
    }
}

