body{
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto';
    line-height: 1.3;
    display: flex;
    text-decoration: none;
    background-color: #2F303A; 
    font-family: 'Roboto', sans-serif;
    color: white;
}
*, *::before, *::after {
    box-sizing: inherit;
}


.page {
     width: 100%;
     height: 100%;
    position: fixed;
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
     url("../../images/background.png");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;
}

.page_container{
    height: 100%;
    display: flex;
}

.window_for_login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login_container{
    max-width: 400px;
    transform: translate(0, -5%);
    width: 100%;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}


.login_container .form{
    width: 100%;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
}


.login_title{
    font-size: 23px;
    font-weight: 500;
    color: white;
    text-align: center;
    letter-spacing: 1px;

}

 .input_field{
    position: relative;
    margin-top: 1.5625em;
    width: 100%;
    height: 2.5em;
}

.input_field input{
    height: 100%;
    width: 100%;
    padding: 0 1.875em;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    font-size: 0.9375em;
    background-color :rgba(0,0,0,0.0);
    font-size: 15px;
    transition: all 0.2s ease;
    color: white;

}

.input_field input:is(:focus, :valid){
    border-bottom-color: #ac4c4c;
}


.input_field i{
    position: absolute;
    top: 30%;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

 .input_field i.icon{
    left: 0;
}
        
.input_field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 5px;
    align-items: center;
}
        
      
.form .checkbox_text{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    align-items: center;

}
.checkbox_text .checkbox_content{
    display: flex;
    align-items: center;
}

.checkbox_content input{
    margin: 0px 10px 2px 5px;
    accent-color: #a53434;
}
.form .text{
    color: rgb(243, 243, 243);
    font-size: 13px;
}

.form a.text{
    color: #4070f4;
    padding-left: 5px;
    font-size: 13px;
}


.form a{
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 30px;
}

.form .button input{
    border: none;
    background-color: #ac4c4c;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    height: 45px;
    border-radius: 6px; 
    cursor: pointer;    
    transition: all 0.2s ease;
}

.button input:hover{
    background-color: #a53434;
}

.login_container .login_signup{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.or_line{
    height: 1px;
    width: 100%;
   background-color:  #d4d4d4;
   margin: 30px 0px 0px 0px;
   align-items: center;
   justify-content: center;
}

.facebook_login{
    background-color: #4267b2;
    position: relative;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    height: 50px;
    cursor: pointer;
}

.facebook_login a{
    color: white;
    text-decoration: none;
    
}

.facebook_text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

a.facebook_button .facebook{
    position: absolute;
    left: 30px;
    transform: translate(0, -2px);
    border-radius: 100%;
    width: 20px;
    height: 20px;

    font-size: 21px;
}

.google_login{
    display: flex;
    border-radius: 5px;
    /* background-color: rgba(218, 220, 224, 0.9);  */
    background-color: white;

    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    height: 50px;

    text-decoration: none;

}




@media  screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
    a.facebook_button .facebook{
        left: 10px;
    }
}
    
