.profile_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.profile_card {
  position: absolute;
  width: 500px;
  max-width: 800px;
  padding: 20px;
  top: 10%;
  left: 30%;
}

.profile_card h1 {
  font-size: 30px;
  font-weight: bold;
  color:black;
}

.pfp {
  text-align: center;
}

.user_comments{
  width: 100%;
  align-content: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 15px 3px rgb(100, 2, 2);
}

#cloudinary_upload_button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-username {
  font-size: 2rem;
  text-align: center;
}

#add_comment_button {
  margin-top: 5px;
}

#comment_input {
  margin-top: 10px;
  min-width: '500px'; 
  min-height: '100px';
}

label {
  text-align: left;
}