.profile_page {
    position: absolute;
    left: 78px;
    display: flex;
    height: 100%;
    width: calc(100% - 78px);
  }
  
.profile_card {
  margin: auto;
  min-width: 330px;
  width: 40%;
  max-width: 800px;
  padding: 20px;
}

.profile_card h1 {
  font-size: 30px;
  font-weight: bold;
  color:black;
}

.pfp {
  text-align: center;
}

.user_comments{
  width: 100%;
  align-content: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 15px 3px rgb(100, 2, 2);
}

#cloudinary_upload_button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-username {
  font-size: 2rem;
  text-align: center;
}

#add_comment_button {
  margin-top: 5px;
}

#comment_input {
  margin-top: 10px;
  min-width: '500px'; 
  min-height: '100px';
}

label {
  text-align: left;
}

.bio {
  text-align: center;
}

.edit_button {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 26.25em){
  .profile_page{
    width: 100%;
    left: 0;
  }
  .profile_card{
    width: 99%;
    height: 90%;
    min-width: 200px;
  }
}

.info_title{
  font-size: 18px;
  text-decoration: underline;
  font-weight: 1000;
  margin-bottom: 0.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info_container{
  min-width: 100%;
  border: solid 2px rgb(55, 56, 68);
  border-radius: 20px;
  margin: 1em 0;
  padding: 0.5em;
}

.interests.selected{
  border-color: #a53434;
  color: #f18f8f;
}

.input_field input:is(:focus, :valid){
  border-bottom-color: #ac4c4c;
}

.input_field.button.disabled input{
  background-color: #ccc;
}

.save_interests {
  text-align: center;
}