:root{
    --cool_red: linear-gradient(to right, rgb(187, 85, 85),  rgb(153, 21, 21));
}

.landing_page{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: ease 0.5s;
    
}

.landing_page_content{
    width: 80%;
    max-width: 650px;
    display: flex;
    height: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.join_button{
    background: linear-gradient(to bottom right,  rgb(153, 21, 21), rgb(187, 85, 85));
    color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 5px 10px black;

}
.join_button span{
    font-weight: 600;
    font-size: 23px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-family: 'Secular One', sans-serif;
}

p.head{
    color: var(--cool_red);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-style: italic;

}
p.body{
    font-family: 'Secular One', sans-serif;
    line-height: 1.3;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Zoom the picture in when going under 640px*/
@media (max-width: 40em){
   .landing_page{
    background-size: 150% 150%;
   }
}

@media (max-width: 22.5em){
    .join_button{
        width: 150px;
    }
    .join_button span{
        font-size: 21px;
    }
 }